@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sideimg{
    position: absolute;
    top: 26%;
    right: 15%;
    height: 450px;
    width: 450px;
}